* {
    *,*:focus,*:hover{
        outline:none;
    }
}

body {
    margin: 0px 0px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}

#herobanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    & #img-hero {
        z-index: -1;
        position: relative;
        bottom: 25px;
        width: 100%;
    }
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85.5%;
    justify-content: space-between;
    position: relative;
    top: 40px;
    & #logo {
        z-index: 2;
        position: relative;
    }
    & #nav__right {
        a {
            font-family: "ct";
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 16px;
            text-decoration: none;
            margin-right: 32px;
            color: white;
        }
    }
}

#cases {
    width: 53%;
    & #case1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.0497193);
        box-sizing: border-box;
        border-radius: 8px;
        padding: 0px 115px 40px 115px;
        position: relative;
        bottom: 110px;
        width: 100%;
        & #logo-case1 {
            position: relative;
            bottom: 30px;
        }
        & #case1__heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            & h1 {
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 34px;
                display: flex;
                align-items: center;
                text-align: center;
                font-family: "cb";
                color: #000000;
                margin: 0px 0px;
            }
            & p {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                font-family: "cr";
                display: flex;
                align-items: center;
                text-align: center;                
                color: #7A7A7A;
                margin: 15px 0px 30px 0px;
            }
        }
        & #case1__button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            & button {
                background-color: #3CB3AB;
                border-radius: 33.5px;
                width: 204px;
                height: 56px;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                font-family: "cr";
                color: #FFFFFF;
                border: none;
                cursor: pointer;
            }
            & #bookmark {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: #F2F2F2;
                mix-blend-mode: normal;
                border-radius: 33.5px;
                width: 174px;
                cursor: pointer;
                & p {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                    font-family: "cr";
                    color: #7A7A7A;
                    margin-left: 16px;
                }
            }
        }
    }
    & #case2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.0497193);
        box-sizing: border-box;
        border-radius: 8px;
        padding: 48px 48px;
        width: 100%;
        position: relative;
        bottom: 80px;
        & #case2__numbers {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            margin-bottom: 37px;
            & #price {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 24%;
            }
            & #backers {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 23%;

            }
            & #days {
                width: 23%;
            }
        }
        & .case2__text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            & h1 {
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 39px;
                font-family: "cb";
                color: #000000;
                margin: 0px 0px;
            }
            & p {
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 18px;
                font-family: "cr";
                color: #7A7A7A;
                margin: 0px 0px;
            }
            & .relative {
                position: relative;
            }
        }
        .row {
            background: #000000;
            mix-blend-mode: normal;
            opacity: 0.15;
            height: 63px;
            width: 1px;
        }
        & #progress-bar {
            height: 12px;
            background: #2F2F2F;
            mix-blend-mode: normal;
            opacity: 0.05;
            border-radius: 33.5px;
            width: 90%;
        }
    }
    & #case3 {
        padding: 36px 70px;
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.0497193);
        box-sizing: border-box;
        border-radius: 8px;
        margin-top: 24px;
        position: relative;
        bottom: 80px;
        & #case1__in__case3 {
            padding: 10px 50px;
            background-color: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.15);
            box-sizing: border-box;
            border-radius: 8px;
            margin-bottom: 24px;
            margin-top: 40px;
        }
        & #case2__in__case3 {
            padding: 10px 50px;
            background-color: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.15);
            box-sizing: border-box;
            border-radius: 8px;
            margin-bottom: 24px;
        }
        & #case3__in__case3 {
            padding: 10px 50px;
            background-color: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.15);
            box-sizing: border-box;
            border-radius: 8px;

        }
        & #case3__heading {
            & h1 {
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                display: flex;
                align-items: center;
                text-align: center;
                font-family: "cb";       
                color: #000000;
            }
            & p {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
                font-family: "cr";
                color: #7A7A7A;
                margin-top: 35px;
            }
        }
        & .heading__case__in__case3--active {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            & h1 {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                font-family: "cb";
                color: #000000;
            }
            & p {
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                font-family: "cr";
                color: #3CB3AB;
            }
        }
        & .description__case__in__case3--active {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            font-family: "cr";
            color: #7A7A7A;
        }
        & .bottom__case__in__case3--active {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            & .left {
                display: flex;
                flex-direction: row;
                align-items: center;
                & h1 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 32px;
                    line-height: 39px;
                    font-family: "cb";
                    color: #000000;
                }
                & p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 18px;
                    font-family: "cr";
                    color: #7A7A7A;
                    margin-left: 8px;
                }
            }
            & .right {
                & button {
                    background: #3CB3AB;
                    border-radius: 33.5px;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 17px;
                    font-family: "cr";
                    border: none;
                    color: white;
                    width: 157px;
                    height: 48px;
                    cursor: pointer;
                }
            }
        }
        /*deactivate*/
        & .heading__case__in__case3--deactivate {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            & h1 {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                font-family: "cb";
                color: #000000;
            }
            & p {
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                font-family: "cr";
                color: #3CB3AB;
            }
        }
        & .description__case__in__case3--deactivate {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            font-family: "cr";
            color: #7A7A7A;
        }
        & .bottom__case__in__case3--deactivate {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            & .left--deactivate {
                display: flex;
                flex-direction: row;
                align-items: center;
                & h1 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 32px;
                    line-height: 39px;
                    font-family: "cb";
                    color: #000000;
                }
                & p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 18px;
                    font-family: "cr";
                    color: #7A7A7A;
                    margin-left: 8px;
                }
            }
            & .right--deactivate {
                & button {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 17px;
                    font-family: "cr";
                    border: none;
                    color: white;
                    width: 157px;
                    height: 48px;
                    cursor: pointer;
                }
            }
        }
    }
}

.deactivate-display {
    mix-blend-mode: normal;
    opacity: 0.5;
}

.btn-deactivate {
    background: #2F2F2F;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 33.5px;
}

/*fonts*/

@font-face {
    font-family: 'ct';
    src: url('../fonts/Commissioner/commissioner-thin/commissioner-thin-webfont.woff2') format('woff2'),
         url('../fonts/Commissioner/commissioner-thin/commissioner-thin-webfont.woff') format('woff');

}

@font-face {
    font-family: 'cb';
    src: url('../fonts/Commissioner/commissioner-bold/commissioner-bold-webfont.woff2') format('woff2'),
         url('../fonts/Commissioner/commissioner-bold/commissioner-bold-webfont.woff') format('woff');
}


@font-face {
    font-family: 'cr';
    src: url('../fonts/Commissioner/commissioner-regular/commissioner-regular-webfont.woff2') format('woff2'),
         url('../fonts/Commissioner/commissioner-regular/commissioner-regular-webfont.woff') format('woff');
}